* {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #f2f3f4;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url("/static/images/dark-bg.png");
    background-position: center center; 
    background-size: cover;
    height: 100%;
}

.body__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.content__container {
    flex: 1 0 auto;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    justify-content: space-between;
    justify-items: center;
    padding: 10px 5%;
    border-bottom: 2px solid #00CED1;
}

.header__title {
    font-size: 1.1em;
    color: #00CED1;
}

.header__link {
    margin-top: auto;
    margin-bottom: auto;
}

.header__link:hover {
    color: #00CED1;
    text-decoration: underline;
    transition: all 0.3s;
}

.welcome__container {
    margin: 40px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.welcome__title {
    font-size: 1.3em;
    color: #00CED1;
    text-align: center;
}

.prompt {
    margin-top: 30px;
    padding: 5px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, .60);
    border-radius: 5px;
}

.playlist__container {
    margin: 0 auto 0 auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background-color: rgba(0, 0, 0, .60);
    border-radius: 5px;
}

ol {
    list-style: none; 
    counter-reset: li;
}

li {
    line-height: 1.5;
    margin-left: 30px;
}

li::before {
    content: counter(li);
    counter-increment: li;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 1.1em;
    color: #00CED1;
    margin-right: 0.5em; 
    text-align: right; 
    direction: rtl;
}

.rl_playlists {
    font-size: 1.1em;
}

.rl_playlists:hover {
    color: #00CED1;
    text-decoration: underline;
    transition: all 0.3s;
}

.selected__playlist__container {
    margin: 60px auto 60px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.selected__playlist__container form {
    margin: 0 auto 0 auto;
}

.button {
    background-color: #00CED1;
    color: #27251F;
    font-size: 1.25em;
    border: none;
    height: 50px;
    width: 150px;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #000000;
    border: 2px solid #00CED1;
    color: #00CED1;
    transition: all 0.3s;
}

.selected__playlist {
    width: 80%;
    margin: 40px auto 0 auto;
    text-align: center;
    color:#00CED1;
    font-size: 1.25em;
    background-color: rgb(0, 0, 0);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px;
}

.selected__playlist:hover {
    border: 2px solid #00CED1;
    transition: all 0.3s;
}

.about__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 30px auto 30px auto;
    background-color: rgba(0, 0, 0, .60);
    border-radius: 5%;
}

.about__blurb {
    margin: 20px 10px;
}

.emphasized__text {
    color: #00CED1;
}

.og_playlist {
    font-size: 1.1em;
    color:#00CED1;
    text-align: center;
}

.og_playlist:hover {
    color: #008b8d;
    text-decoration: underline;
    transition: all 0.3s;
}

.footer__container {
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 5%;
    border-top: 2px solid #00CED1;
}

.footer__link {
    font-size: 0.8em;
}

.footer__link:hover {
    color: #00CED1;
    text-decoration: underline;
    transition: all 0.3s;
}

.footer__copyright {
    font-size: 0.8em;
}

@media (min-width: 480px) {
    .header__title {
        font-size: 1.25em;
    }

    .header__link {
        font-size: 1.1em;
    }

    .welcome__container {
        width: 60%;
        border-radius: 10px;
    }
    
    .welcome__title {
        font-size: 1.5em;
    }
    
    .prompt {
        font-size: 1.3em;
    }

    .playlist__container {
        width: 60%;
        border-radius: 10px;
        padding: 10px;
        font-size: 1.25em;
    }

    li::before {
        font-size: 1.1em;
    }
    
    .rl_playlists {
        font-size: 1.1em;
    }

    .selected__playlist__container {
        width: 60%;
        border-radius: 10px;
    }

    .selected__playlist {
        padding: 10px;
        font-size: 1.25em;
    }

    .about__container {
        margin-top: 40px;
        width: 60%;
        border-radius: 10px;
    }

    .about__blurb {
        font-size: 1.25em;
    }

    .emphasized__text {
        font-size: inherit;
    }

    .og_playlist {
        font-size: 1.5em;
    }

    .footer__link {
        font-size: 1em;
    }
    
    .footer__copyright {
        font-size: 1em;
    }
}

@media (min-width: 767px) {
    .header__title {
        font-size: 1.5em;
    }

    .header__link {
        font-size: 1.25em;
    }

    .welcome__container {
        width: 60%;
        border-radius: 15px;
    }
    
    .welcome__title {
        font-size: 2em;
    }
    
    .prompt {
        font-size: 1.5em;
    }

    .playlist__container {
        width: 50%;
        border-radius: 15px;
        padding: 20px;
    }

    li::before {
        font-size: 1.4em;
    }
    
    .rl_playlists {
        font-size: 1.4em;
    }

    .selected__playlist__container {
        width: 50%;
        border-radius: 15px;
    }

    .selected__playlist {
        padding: 10px;
        width: 60%;
        font-size: 1.5em;
    }

    .about__container {
        margin-top: 40px;
        width: 50%;
        border-radius: 15px;
    }

    .about__blurb {
        font-size: 1.33em;
    }

    .emphasized__text {
        font-size: inherit;
    }

    .og_playlist {
        font-size: 1.5em;
    }

    .footer__link {
        font-size: 1.25em;
    }
    
    .footer__copyright {
        font-size: 1.25em;
    }
}

@media (min-width: 980px) {
    .button {
        font-size: 1.4em;
        height: 60px;
        width: 180px;
        border-radius: 10px;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .header__title {
        font-size: 1.75em;
    }

    .header__link {
        font-size: 1.4em;
    }

    .welcome__container {
        width: 50%;
        border-radius: 15px;
    }
    
    .welcome__title {
        font-size: 2em;
    }
    
    .prompt {
        font-size: 1.5em;
    }

    .playlist__container {
        width: 40%;
        border-radius: 15px;
        padding: 20px;
    }

    li::before {
        font-size: 1.4em;
    }
    
    .rl_playlists {
        font-size: 1.4em;
    }

    .selected__playlist__container {
        width: 40%;
        border-radius: 15px;
    }

    .selected__playlist {
        margin-top: 40px;
        padding: 10px;
        width: 60%;
        font-size: 1.5em;
    }

    .about__container {
        margin-top: 40px;
        width: 40%;
        border-radius: 15px;
    }

    .about__blurb {
        font-size: 1.5em;
    }

    .emphasized__text {
        font-size: inherit;
    }

    .og_playlist {
        font-size: 1.75em;
    }

    .footer__link {
        font-size: 1.25em;
    }
    
    .footer__copyright {
        font-size: 1.25em;
    }
}