{% extends 'base.html' %}

{% block content %}

<div class='content__container'>
    <div class='about__container'>
        <p class='about__blurb'>
            RL Playlist Selector randomly selects a playlist put together
            by the RL team, <span class='emphasized__text'>Give Peace a Chance</span>.
        </p>
        <p class='about__blurb'>
            Now you can listen to the same songs <span class='emphasized__text'>Give Peace a Chance</span> 
            listens to as they battle their way through the trials and tribulations of mediocrity!
        </p>
        <p class='about__blurb'>
            All playlists compiled by <span class='emphasized__text'>Evar-Scarcarver</span>, 
            <span class='emphasized__text'>Myrornis_Krig</span>, and <span class='emphasized__text'>ArbysFan</span>.
        </p>
    </div>
    <div class='about__container'>
        <p class='about__blurb'>
            If you're preparing for a long session, give ArbysFan's OG playlist a try: 
        </p>
        <a class='og_playlist' href="https://open.spotify.com/playlist/4YCuidtszWNyvnsbxKFvqy">rocket league</a>
        <p class='about__blurb'>
            The <span class='emphasized__text'>rocket league</span> playlist is 11+ hours long and can keep you grooving for even
            the longest of rocket league sessions!
        </p>
    </div>
</div>

{% endblock %}